@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9f5dd;
  --foreground: #272822;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222229;
    --foreground: #e8f3fa;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

html {
  font-family: var(--font-noto-sans);
}
 
h1, h2, h3 {
  font-family: var(--font-montserrat);
}

code {
  font-family: var(--font-noto-mono);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
