@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eff1f5;
  --foreground: #4c4f69;
  --red: #d20f39;
  color: var(--foreground);
  background: var(--background);
}

html {
  font-family: var(--font-noto-sans);
}
 
h1, h2, h3 {
  font-family: var(--font-montserrat);
  color: var(--red)
}

code {
  font-family: var(--font-noto-mono);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
